.container{
    margin: 0 auto;
    width: 80%;
    background-color: #ffffff;
}

.loading-message{
    height: 100%;
    text-align: center;
}

.movies{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;  
}




